*{
    margin: 0;
    box-sizing: border-box;
}
#container{
    background-color: rgb(3, 163, 163);
    width: 50%;
    margin: auto;
    margin-top: 100px;
    box-shadow: 1px 1px 1px 1px rgb(99, 93, 93);
    border-radius: 5px;
    border: 2px solid gray;
}
.title h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin-bottom: 20px;
    padding-top: 20px;
    text-decoration: underline;
}
.quiz{
    width: 90%;
    margin: auto;

}
#question p{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    width: 95%;
    margin: auto;
    opacity: 0.8;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#question li{
    font-size: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    width: 95%;
    margin: auto;
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.button{ 
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    width: 80px;
    padding: 5px;
    background-color: #DCDCDC;
    color: black;
    margin: 10px;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}