*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;

}
h1{
  text-align: center;
  margin:15px 0;
}
thead{
  background-color: #333A40;
  color: #fff;
}
.fa-plus-circle{
  color: rgb(247, 247, 247);
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.box-item{
  width: 80%;
  margin: auto;
}
.add-student{
  background-color: #00A751;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px rgb(211, 203, 203);
  border-radius: 5px;
  max-width:165px;
  margin: 20px 0px;
  cursor: pointer;
}
.add-student span{
  color: white;
}
.add-student:hover{
  background-color:  #00bb5a;
  ;
  transition:ease-in;
}
.fix-student {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.edit span:hover{
  cursor: pointer;
  color: #3ca6af;
}
.edit span{
  color: #58C0CA;
}

.delete{
  cursor: pointer;
}
.delete:hover{
 color: rgb(253, 137, 137);
}
.border-a{
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgb(124, 123, 123);
}
a{
  text-decoration: none;
}
/* class chung */
.fa-edit,a{
  color: #01A4B6;
}
.fa-trash-alt,span{
  color: #EA2B48;
}
.fa-save,.fa-angle-left{
  color: #fff;
}
/* /////////////////////////////////// */
@media (max-width:600px) {   
  .box-item{
      max-width: 80%;
      margin-left: 0;
  }
  
}
/* add học viên */
.form-add{
  display: none;
}
.form-edit{
  display: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.form-container {
  max-width: 720px;
  padding: 32px;
  margin: 36px auto 0 auto;
  background-color: #fff;

}

.form__row {
  padding: 8px 0;
  display: flex;
}

.form__label {
  min-width: 90px;
  padding: 5px;
}

.form__input {
  flex: 1;
  height: 35px;
  padding-left: 10px;
}
.button{
  display: flex;
  justify-content: center;
}
.back:hover{
  background-color: rgb(100, 97, 97);
}
.back{
  padding: 10px;
  margin: 5px;
  background: rgb(104, 104, 104);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.save{
  padding: 10px;
  margin: 5px;
  background: #00A751;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.save-edit{
  padding: 10px;
  margin: 5px;
  background: #00A751;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.save:hover{
  background-color: #02af56;
  transition:ease-in;
}
.form_item{
  text-align: center;
}
.thong-bao{
  background-color: rgb(232, 241, 241);
  width: 30%;
  text-align: center;
  padding-top: 30px;
  position: absolute;
  top:0;
  left: 35%;
  box-shadow: 1px 1px 1px 1px rgb(223, 236, 236);
  border-radius: 5px;
  display: none;
}
.thong-baoEdit{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.thong-baoEdit p{
  cursor: pointer;
}
.thong-baoEdit p:hover{
  color: rgb(63, 182, 33);
}
