*{
    box-sizing: border-box;
    margin: 0;
}
#container{
    background-color: pink;

}
a{
    text-decoration: none;

}
.box-1{
    display: grid;
    padding: 30px;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    
}
.shadow{
    background-color: blue;
    width: 100%;
    height:200px;
}
@media (max-width:600px) {
    .box-1{
        grid-template-columns: auto ;
        padding: 15px;
    }
}
/* bài 2 */
.box-2{
    display: grid;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;

}
.shadow1{
    background-color: blue;
    width: 100%;
    height: 200px;
}
@media(max-width:600px) {
    .box-2{
        grid-template-columns: auto;
        padding:15px;
        padding-top: 50px;
    }
}
/* Bài 3 */
.box-3{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:30px; 
    padding: 0 30px 0 30px;
}
.screen1{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:15px;
    width: 100%; 
    height: 200px;
}

.shadow3{
    background-color: blue;
    width: 100%;
}
.shadow4{
    background-color: blue;
    width: 100%;
    height: 500px;

   
}
 @media(max-width:600px) {
    .box-3{
        padding: 0 15px 0 15px ;
        display: grid;
        grid-template-columns: auto;
    } 
    .screen1{
        width: 100%;
    }
} 
/* bài 4 */
/* .box-4{
} */
.screen-0{
    background-color:  green;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}
.screen-1{
    background-color: burlywood;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    padding: 0px 7.5px 0px 7.5px;
}

.shadow-1{
    width: 90px;
    height: 30px;
    background-color: blue;
    text-align: center;
    padding: 5px;
    /* margin: 10px 0px 10px 0; */
}
.shadow-2{
    margin: 15px 7.5px 15px 7.5px;
    background-color: blue;
    width: 100%;
    height: 500px;
}
@media (max-width:600px) {
    .box-4{
        display: flex;
        flex-direction: column;
    }
    .screen-0{
        grid-gap: 15px;
        background-color: rgb(255, 208, 119);
    }
    .screen-1{
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 208, 119);
        padding-right: 23px;
    }
    .shadow-2{
        height: 250px;
    }
    .shadow-1{
        height: 30px;
        width: 60px;
    }
}
/* bài 5 */
.box-5{

}
.head{
    background-color: rgb(223, 219, 219);
    width: 100%;
    display: flex;
}
.screen-5{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:15px;
    padding: 15px;
    height: 60px;
    width: 225px;
}
.middle{
    width: 100%;
    background-color: oldlace;
    height: 60px;

}
.screen-51{
    width: 125px;
    margin: 15px 15px 15px 15px;
}
.shadow-7{
    background-color: rgb(7, 7, 184);
    width: 90px;
    height: 30px;
}
.shadow-5{
    background-color: rgb(7, 7, 184);
    width: 90px;
    height: 30px;
    cursor: pointer;
}
.screen-6{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 15px;
}
.shadow-6{
    background-color: blue;
    width: 100%;
    height: 500px;  
}
@media (max-width:600px) {
    .box-5{
        justify-content: space-between;
    }
    .middle{
        display: none;
    }
    .head{
        background-color: white;
    }
    .screen-5{
        width: 100%;
        grid-gap:35px;
        padding-right: 35px;
    }
    .screen-6{
        padding-top: 0;
    }
    .shadow-5{
        width: 60px;
        height: 30px;
    }
    .shadow-7{
        margin-left:30px;
        width: 60px;
        height: 30px;
    }

}
/* bai 6 */
.container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* background-color: chartreuse; */
}
#logo{
    margin: 15px;
    background-color: rgb(130, 131, 134);
    cursor: pointer;
}
img{
    width: 100px;
    height: 30px;
}
.menu{
    display: flex;
    margin: 17.5px ;
    width: 80%;
}
.menu-list{
    background-color: rgb(130, 131, 134);
    width: 100%;
    height: 25px;
    text-align: center;
    padding: 5px;
    
}

/* menu mobile */
.header{
    /* background-color: rgb(114, 124, 103); */
    display: flex;
    flex-direction: column;
    width: 93.8%;
    padding: 5px 0 5px 0;
    display: none;
    margin: 15px;
}
.logo{
    margin: 15px 15px 15px 0;
    cursor: pointer; 
    display: none;
}
.icon{
    font-size: 30px;
    
}
.mobileMenu{
    width: 100%;
    /* padding: 15px; */
    display: none;
}
.sub-list{
    background-color: rgb(81, 139, 86);
    text-align: center;
    width: 100%;
    border:1px solid gray;
    padding: 5px;
    display: none;
}
.mobileMenu.show{
    display: block;
}
.middle1{
    height: 500px;
    margin: 15px;
    background-color: blue;
}
@media (max-width:600px) {
    .container{
        display: none;
    }
    .header{
        display: block;
    }
    .sub-list{
        display: block;
    }
    .logo{
        display: block;
    }
}



/* bài 7 */
.bottom{
    width: 100%;
    display: flex;
}
.team-1{
    background-color: blue;
    height: 500px;
    width: 100%;
    margin: 15px;
}
.team-2{
    width: 30%;
    margin: 15px 15px 15px 0;
    background-color: blue;
    height: 500px;
}
.header-2{
    /* background-color: rgb(114, 124, 103); */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    display: none;
}
.login{
    background-color: rgb(130, 131, 134);
    height: 25px;
    padding: 5px;
    width: 15%;
    margin: 17.5px 15px 20px 50px;
   
} 
p{
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.logo-2{
    width: 100%;
    cursor: pointer; 
    display: none;
}
.icon-2{
    font-size: 30px;
    width: 45%;
}
.mobile-Menu{
    width: 100%;
    display: none;
}
.mobile-Menu.show{
    display: block;
}
.logo-2 img{
    width: 50%;
    margin: auto;
    width: 80px;
    height: 20px;
}
@media (max-width:600px) {
    .container{
        display: none;
    }
    .header-2{
        display: block;
    }
    .sub-list{
        display: block;
    }
    .logo-2{
        display: block;
    }
    .bottom{
        flex-direction: column;
        padding: 15px;
    }
    .team-1{
        margin: 0;
        
    }
    .team-2{
        width: 100%;
        margin: 0;
        margin-top: 15px;
        
    }
    
}


