
body {
    background-color: #121212;
}
.nav-bar {
    background-color: rgb(37 37 37 / 0%);
}

.img-main img{
    width: 100%;
}
.ten-xe {
    position:absolute;
    top: 30%;
    color: #fff;
    left: 10%;
}
.ten-xe h1 {
    font-size: 40px;
}
.ten-xe {
    font-size: 18px;
}
.header-Thong-so {
    position:absolute;
    top: 85%;
    display: flex;
    justify-content: space-between;
    left: 20%;
    align-items: center;
}
.header-Thong-so h5 {
    font-weight: 700;
}
.header-Thong-so span {
    font-weight: bold;
}
.thong-so {
    padding: 0 20px;
    border-right: 1px solid gray;
    text-align: center;
}
.mua-ngay {
    border: 1px solid rgb(3, 3, 3);
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    padding: 0 30px;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 15px;
    margin: 0 20px;
    
}
.mua-ngay a {
    color:#121212;
}

.mota-duoi_anh {
    color: #fff; 
    font-size: 12px;
    margin: 30px 0;
}
.tinh-nang, .thiet-ke {
    color: #fff;
}
.tinh-nang h3 {
    border-bottom: 1px solid gray;
    max-width: 40%;
    line-height: 1.5;
}
.hinh-anh-a {
    display:grid ;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
    margin: 40px 0 40px 0;
}

.hinh-anh {
    display:grid ;
    grid-template-columns: repeat(2,1fr);
    grid-gap:60px;
    margin: 40px 0 40px 0;
}

.roper-2 {
    display: none;
}@media (max-width:1329px) {
    .thong-so-a {
        display: none;
    }
    .mota-duoi_anh {
        display: none;
    }
}
@media (max-width:1330px) {
    .thong-so-a {
        top: 70%;
    }
}

@media (max-width:1280px) {
    .hinh-anh {
        display:grid;
        grid-template-columns: repeat(1,1fr); 
    }
    .roper-2 {
        display: block;
        margin: 15px 0;
    }
    .roper-1 {
        display: none;
    }
    .hinh-anh-a {
        display:grid ;
        grid-template-columns: repeat(1,1fr);
    }
    img {
       width: 100%;
    }
    .hinh-anh_second {
        display: none!important;
    }
    .tinh-nang h3 {
        border-bottom: 1px solid gray;
        max-width: 50%;
        line-height: 1.5;
    }

    .ten-xe {
        display: none;
    }
}

.thong-so-a{
    width: 80%;
     margin: auto;
}
.du-phong {
    display: none;
}
@media (max-width:1279px) {
    .du-phong {
        display: block;
        background-color: #c5c5c5;
        width: 30%;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    }
}
@media (max-width:663px) {
    .tinh-nang h3 {
        border-bottom: 1px solid gray;
        max-width: 80%;
        line-height: 1.5;
    }
    .img-main img{
        margin-top: 50px;
      }
}
@media (max-width:555px) {
    .tinh-nang h3 {
        max-width: 90%;
    }
    .img-main img{
      margin-top: 50px;
    }
    
}
@media (max-width:400px) {
    .tinh-nang h3 {
        max-width: 100%;
    }
    iframe {
        display: none;
    }
}
.hinh-anh_second {
    display:grid ;
    grid-template-rows: repeat(2,1fr);
    grid-gap:20px;
}
.thiet-ke h3, .tien-nghi h3 {
    margin-top: 25px;
}
.furniture p {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 20px;
}
.fa-circle {
    font-size: 5px;
    margin: 0 15px 0 0;
}
.convenient li {
    display: flex;
    align-items: center;
    padding: 4px 0;
}
.Parameter-Nm h5 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-top: 15px;
}
.Parameter-Nm {
    line-height: 1.5;
    padding: 5px 0;
    border-bottom: 1px solid gray;
}
.Parameter-Nm h2 {
    font-weight: 600;
    margin-top: -0px;
    font-size: 24px;
}
.Parameter-Nm p {
    color: rgb(206, 206, 206);
    margin-bottom: 5px;
}
.Parameter-Nm:last-child {
    border: none;
}
.request_Counselling {
    width: 86%;
    margin: auto;
    background: #121212;
    text-align: center;
    color: #fff;
}
.request_Counselling h3{
    padding: 25px 0;
}
.dropdonw-persistent {
    max-width: 50%;
}
.input {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    max-width: 50%;
    margin: auto;
}
input {
   padding: 5px 0 5px 15px;
    margin: 10px 0 0 0;
}
.radio_check {
    margin: auto;
    max-width: 50%;
    text-align: left;
    margin-top: 8px;
}
.radio_check h5 {
    font-size: 24px;
}
label {
    font-size: 18px;
}

.dropdonw-persistent {
    background: rgb(0, 0, 0);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 4px;
    width: 70%;
    box-sizing: border-box;
    padding: 4px 8px;
    color: #fff;
    margin-top: 15px;
}
.input_quetion{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    max-width: 50%;
    margin: auto;
    text-align: left;
    margin-top: 15px;
}
.modal-body {
    font-size: 18px;
    padding: 5px;
    text-align: center;
    background-color: greenyellow;
}
.btn-primary {
    margin-top: 20px;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    border: none;
}
.ten-xe-a {
    width: 86%;
    margin: auto;
    color: #fff;
    margin-top: 20px;
}