@media (max-width:1245px) {
    .box-text {
        display: none;
    }
    .menu-left {
        display: none;
    }
    .dropdonw-Menu_Car{
        display: block;
    }
    .main-mid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .sedan {
        border: none;
    }
    .suv-tas {
        display: block;
    }
}
@media (max-width:1050px) {
    iframe {
        display: none
    }
}
@media (max-width:1280px) {
    .featured {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:10px;
    }
  
}

@media (max-width:1080px) {

    .nav-bar {
        display: none;
    }
    .nav-bar-menu {
        display: block;
    }

}
@media (max-width:1050px) {

    .footer-menu {
       display: grid;
       grid-template-columns: repeat(3,1fr);
    }
    .menu-drift_away {
        width: 35%;
    }

}
@media (max-width:980px) {
    .sanpham {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .product-main {
        width: 100%!important;
    }
    .featured {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:20px;
    }
    .featured-Posts_blog {
        width: 100%!important;
    }
    .menu-drift_away {
        width: 35%;
    }
}
@media (max-width:768px) {
    main h2 {
        font-size: 26px;
    }   
    .menu-drift_away {
        width: 40%;
    }

}
@media (max-width:600px){
    .menu-drift_away {
        width: 60%;
    }

}
@media (max-width:568px) {
    .featured {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:20px;
    }
    .footer-menu {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:10px;
    }
    .featured-Posts_blog {
        width: 100%!important;
    }
    .list-bottom {
        display: flex;
        flex-direction: column;
    }
    .list-bottom_right {
        margin-top: 20px;
    }
    .sanpham {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .product-main {
        width: 100%!important;
    }
    .carousel {
        top: 60px;
    } 
}

@media (max-width:400px) {
    .menu-drift_away {
        width: 100%;
    }
    .drift_away span{
        border-bottom: 1px solid gray ;
        padding: 5px 0;
    }
    #nav-bar_menu_button {
        background-color: #fff;
        border: 1px solid #2c55c6;
        margin-right: 0;
    }
    #nav-bar_menu_button span {
        color: #2c55c6;
        border: 1px solid #2c55c6;
    }
    .carousel {
        top: 60px;
    } 
}