.nav-bar {
    background-color: #ffffff;
}
.logo_img a {
    color: black;
}
.fa-user, .fa-bars {
    color: black;
}
main{
   max-width: 100%;
}
.menu-right {
    background-color: #fff;
}
.menu-right li a{
    color: black;
}
.box-payment {
    margin-top: 65px;
    display: flex;
    justify-content: space-evenly;
}
.box_One {
    display: flex;
    justify-content: space-between;
}