*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{

}
body{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
}
.navigation{
    width: 100%;
    height: 60px;
    background-color: #34465c;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

}
.logo{
    width: 150px;
    
}
.logo img {
     width: 100%;
}
.menu{
    /* background-color: tomato; */
    width: 100%;
}
.menu-list{
    display: flex;
    justify-content: flex-end;
}
.menu-list a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(247, 243, 247);
}
.menu-list li{
    list-style-type: none;
    margin-right: 20px;
    
}
.caret{
    margin-left: 4px;
    background-color: teal;
}
.avatar {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
}
.menu-list{
    position: relative;
    font-family: Roboto,sans-serif;
}
.sub-menu{
    position: absolute;
    padding-top: 20px;
    display: none;
}
.sub-menu li{
    color: #fff;
    background-color: rgb(27, 148, 47);
    padding: 5px 10px 5px 10px;

}
.menu-list li:hover .sub-menu{
    display: block;
}
